$maxMobile:540px;
$maxSmall:720px;
$maxMedium:960px;
$maxLarge:1140px;

$blueColor:#214e87;
$whiteColor:#ffffff;
$blackColor:#282828;
$blue2Color:#0a3aa6;

$font-22:22px;
$font-24:24px;
$font-12:12px;
$font-14:14px;
$font-16:16px;
$font-18:18px;
